
services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: imodel
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql
    networks:
      - backend-gemini-eco-system

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: jdbc:mysql://mysql:3306/imodel?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    networks:
      - backend-gemini-eco-system
    ports:
      - "8081:8081"

networks:
  backend-gemini-eco-system:
    driver: bridge
